#*****************************************************************
# LLM and Embedding Model
#*****************************************************************
LLM=gpt-3.5 # Set to "gpt-3.5" to use OpenAI.
EMBEDDING_MODEL=sentence_transformer

#*****************************************************************
# Ollama
#*****************************************************************
OLLAMA_BASE_URL=http://ollama:11434

#*****************************************************************
# OpenAI
#*****************************************************************
# Only required when using OpenAI LLM or embedding model
# OpenAI charges may apply. For details, see 
# https://openai.com/pricing

#OPENAI_API_KEY=sk-..
